<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shining.memo">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/app_launch_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_launch_icon"
        android:supportsRtl="true"
        android:logo="@drawable/app_launch_icon"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".view.AlarmActivity"
            android:theme="@style/OrangeTheme" />
        <activity
            android:name=".view.CalendarActivity"
            android:theme="@style/OrangeTheme" />
        <activity
            android:name=".view.ListActivity"
            android:theme="@style/OrangeTheme" />
        <activity
            android:name=".view.RecordingEditActivity"

            android:theme="@style/OrangeTheme" />
          <!--android:windowSoftInputMode="stateVisible|adjustPan|stateHidden|stateAlwaysHidden"-->
        <activity
            android:name=".view.PhotoConfirmActivity"
            android:theme="@style/OrangeTheme" />

        <activity android:name=".view.AlarmClockActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>
        <activity android:name=".view.NoteActivity"
            android:theme="@style/OrangeTheme"/>

        <receiver
            android:name=".receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.shining.memo.alarmandnotice" />
            </intent-filter>
        </receiver>

        <activity android:name=".home.MemoActivity"
            android:theme="@style/OrangeTheme" />
        <activity
            android:name=".home.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen"/>

        <activity android:name=".home.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>